body {
  background-image: url("../img/bg1.jpg");
}

.carousel-item {
  height: 670px;
}

nav ul li:hover{
  background-color: rgba(24, 24, 155, 0.801);
  border-radius: 25px;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.6s all;
}

nav {
  background-color: rgba(0, 0, 0, 0.685);
}

.carousel-item img {
  margin-top: -120px;
}

.carousel-item .display-4 {
  margin-top: -500px;
}

.btn {
  background-color: snow;
  border: none;
  border-radius: 25px;
  padding-right: 25px;
  padding-left: 25px;
}

.container {
  text-align: center;   

}

#BestSeller {
  padding-top: 5rem;
}

.modal-backdrop {
  z-index: -1;
}

#info {
  margin-left: 50px;
  padding: 30px;
  text-align: center;
  
}

.facts .col-md-6 {
  text-align: center;
  width: 750px;
  background-image: url(../img/bright_squares.png);
  padding: 80px;
  border-radius: 50%;
}

.trends {
  background-image: url(../img/triangle-mosaic.png);
  padding: 1.5rem;
}
