<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../tas pria/collection.css">
    <title>Tas Pria</title>
</head>

<body>
    <!--Header-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">          
                <h3><i class="fas fa-shopping-bag mr-4 text-white"></i></h3>
            <a class="navbar-brand font-weight-bold text-white">Gilvy Collection</a>
 
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
             </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-4">
                <li class="nav-item active">
                    <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../collection.html"> Collection <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../about.html"> About Us <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div> 
    </nav>
    
    <div class="row mt-5 no-gutters">
        <div class="col-md-2 bg-light">
            <ul class="list-group list-group-flush p-2 pt-4">
                <li class="list-group-item"><i class="fas fa-list"></i></i><a href="../tas pria/coach.html" style="color:black;text-decoration: none;"> Tas Pria</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas pria/hush-puppies.html" style="color:black;text-decoration: none;"> Hush Puppies</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas pria/burberry.html" style="color:black;text-decoration: none;"> Burberry</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas pria/guess.html" style="color:black;text-decoration: none;"> Guess</a></li>
                <li class="list-group-item bg-danger"><i class="fas fa-angle-right"></i><a href="../tas pria/coach.html" style="color:black;text-decoration: none;"> Coach</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas pria/fossil.html" style="color:black;text-decoration: none;"> Fossil</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas pria/hermes.html" style="color:black;text-decoration: none;"> Hermes</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas pria/louisvuitton.html" style="color:black;text-decoration: none;"> Louis Vuitton</a></li>
                <li class="list-group-item"><i class="fas fa-list"></i><a href="../tas wanita/hush-puppies.html" style="color: black;text-decoration: none;"> Tas Wanita</a></li>
            </ul>
        </div>

        <!--Items-->
        <div class="col-sm-9">
            <h4 class="text-center  font-weight-bold m-4"> Coach </h4>
            <div class="row mx-auto">
                <!--Productttt6 (Academy Crossbody)-->
                <ol>
                <div class="card mr-2 ml-2" style="width: 15rem;">
                    <img src="../img/Product/Coach/prodddd6.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                <div class="card-body bg-light">
                    <h5 class="card-title">Academy Crossbody</h5>
                    <p class="card-text">Rp 5.453.000,-</p>
                    <a href="#" class="btn btn-primary"data-target="#productttt6" data-toggle="modal">Detail</a>
                </div>
                </ol>

                <!--Productttt7 (Pacer Backpack)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Coach/prodddd7.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Pacer Backpack</h5>
                        <p class="card-text">Rp 10.690.000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#productttt7" data-toggle="modal">Detail</a>
                    </div>
                </ol>

                <!--Productttt8 (Academy Crossbody)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Coach/prodddd8.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Academy Crossbody</h5>
                        <p class="card-text">Rp 7.790.000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#productttt8" data-toggle="modal">Detail</a>
                    </div>
                </ol>

                <!--Productttt9 (Academy Backpack)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Coach/prodddd9.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Academy Backpack</h5>
                        <p class="card-text">Rp 11.990.000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#productttt9" data-toggle="modal">Detail</a>
                    </div>
                </ol>

                <!--Productttt10 (Academy Pack)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Coach/prodddd10.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Academy Pack</h5>
                        <p class="card-text">Rp 8.490.000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#productttt10" data-toggle="modal">Detail</a>
                    </div>
                </ol>
                
            </div>
        </div>
        
        <!--Details Productttt6 (Academy Crossbody)-->
        <div class="modal fade" id="productttt6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Coach/prodddd6.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Academy Crossbody</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Kanvas</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Hitam</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>23cm x 6cm x 15cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>1 kantong depan dengan resleting, kompartment utama dengan resleting, kantong serba guna di dalam tas, tali yang dapat disesuaikan</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 7.790.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.zalora.co.id/coach-academy-crossbody-multi-2469410.html" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Details Productttt7 (Pacer Backpack)-->
        <div class="modal fade" id="productttt7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Coach/prodddd7.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Pacer Backpack</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Kulit Sintetis</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Putih</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>23.5cm x 13cm x 43.5cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>1 kantong depan dengan resleting, 2 kantong multifungsi di dalam tas, grab handle bagian atas tas, strap yang bisa disesuikan</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 10.690.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.zalora.co.id/coach-pacer-backpack-multi-2470645.html" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Details Productttt8 (Academy Crossbody)-->
        <div class="modal fade" id="productttt8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Coach/prodddd8.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Academy Crossbody</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Kanvas</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Cokelat</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>23cm x 6cm x 15cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>penutup compartment utama menggunakan resleting, 1 kantong depan menggunakan resleting, 1 kantong multifungsi di dalam tas, tali yang dapat disesuaikan</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 7.790.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.zalora.co.id/coach-academy-crossbody-multi-2470650.html" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Details Productttt9 (Academy Backpack)-->
        <div class="modal fade" id="productttt9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Coach/prodddd9.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Academy Backpack</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Kulit Sintetis</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Hitam</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>29cm x 14.5cm x 40cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>penutup compartment utama menggunakan resleting, 1 kantong tempat tas 38", 1 kantong depan tas dengan resleting, 1 kantong multifungsi di dalam tas, tali yang dapat disesuikan</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 11.990.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.zalora.co.id/coach-academy-backpack-multi-2469408.html" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Details Productttt10 (Academy Pack)-->
        <div class="modal fade" id="productttt10" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Coach/prodddd10.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Academy Pack</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Kulit Sintetis</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Cokelat</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>20cm x 7cm x 34.5cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>main compartment dengan zipper, 1 kantong depan dengan resleting, 1 sleeve tech dengan sevure tab di dalam tas, tali yang dapat disesuaikan</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 8.490.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.zalora.co.id/coach-academy-pack-multi-2469411.html" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>         
        
    </div> 
     
</body>
</html>
