<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../tas pria/collection.css">
    <title>Tas Pria</title>
</head>

<body>
    <!--Header-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">          
                <h3><i class="fas fa-shopping-bag mr-4 text-white"></i></h3>
            <a class="navbar-brand font-weight-bold text-white">Gilvy Collection</a>
 
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
             </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-4">
                <li class="nav-item active">
                    <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../collection.html"> Collection <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../about.html"> About Us <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div> 
    </nav>
    
    <div class="row mt-5 no-gutters">
        <div class="col-md-2 bg-light">
            <ul class="list-group list-group-flush p-2 pt-4">
                <li class="list-group-item"><i class="fas fa-list"></i></i><a href="../tas pria/fossil.html" style="color:black;text-decoration: none;"> Tas Pria</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas pria/hush-puppies.html" style="color:black;text-decoration: none;"> Hush Puppies</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas pria/burberry.html" style="color:black;text-decoration: none;"> Burberry</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas pria/guess.html" style="color:black;text-decoration: none;"> Guess</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas pria/coach.html" style="color:black;text-decoration: none;"> Coach</a></li>
                <li class="list-group-item bg-danger"><i class="fas fa-angle-right"></i><a href="../tas pria/fossil.html" style="color:black;text-decoration: none;"> Fossil</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas pria/hermes.html" style="color:black;text-decoration: none;"> Hermes</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas pria/louisvuitton.html" style="color:black;text-decoration: none;"> Louis Vuitton</a></li>
                <li class="list-group-item"><i class="fas fa-list"></i><a href="../tas wanita/hush-puppies.html" style="color: black;text-decoration: none;"> Tas Wanita</a></li>
            </ul>
        </div>

        <!--Items-->
        <div class="col-sm-9">
            <h4 class="text-center  font-weight-bold m-4"> Fossil </h4>
            <div class="row mx-auto">
                <!--Producttttt6 (Buckner Nylon Backpack Black)-->
                <ol>
                <div class="card mr-2 ml-2" style="width: 15rem;">
                    <img src="../img/Product/Fossil/proddddd6.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                <div class="card-body bg-light">
                    <h5 class="card-title">Buckner Nylon Backpack Black</h5>
                    <p class="card-text">Rp 3.400.000,-</p>
                    <a href="#" class="btn btn-primary"data-target="#producttttt6" data-toggle="modal">Detail</a>
                </div>
                </ol>

                <!--Producttttt7 (Buckner Cummuter Black Leather)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Fossil/proddddd7.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Buckner Cummuter Black Leather</h5>
                        <p class="card-text">Rp 4.195.000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#producttttt7" data-toggle="modal">Detail</a>
                    </div>
                </ol>

                <!--Producttttt8 (Haskell Courier Black)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Fossil/proddddd8.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Haskell Courier Black</h5>
                        <p class="card-text">Rp 2.515.000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#producttttt8" data-toggle="modal">Detail</a>
                    </div>
                </ol>

                <!--Producttttt9 (Buckner Canvas Messenger Black)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Fossil/proddddd9.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Buckner Canvas Messenger Black</h5>
                        <p class="card-text">Rp 2.915.000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#producttttt9" data-toggle="modal">Detail</a>
                    </div>
                </ol>

                <!--Producttttt10 (Estate Backpack Khaki)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Fossil/proddddd10.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Estate Backpack Khaki</h5>
                        <p class="card-text">Rp 3.400.000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#producttttt10" data-toggle="modal">Detail</a>
                    </div>
                </ol>
                
            </div>
        </div>
        
        <!--Details Producttttt6 (Buckner Nylon Backpack Black)-->
        <div class="modal fade" id="producttttt6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Fossil/proddddd6.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Buckner Nylon Backpack Black</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Poliester</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Hitam</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>30.48cm x 7.62cm x 40.64cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>1 kantong depan dengan resleting, kompartment utama dengan resleting, kantong serba guna di dalam tas, tali yang dapat disesuaikan</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 3.400.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.zalora.co.id/fossil-fossil-buckner-nylon-backpack-black-tas-pria-mbg9431-001-black-1876191.html" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Details Producttttt7 (Buckner Cummuter Black Leather)-->
        <div class="modal fade" id="producttttt7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Fossil/proddddd7.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Buckner Cummuter Black Leather</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Poliester</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Hitam</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>25.4cm x 6.3cm x 34.3cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>3 kantong depan dengan resleting, komparment utama dengan resleting, grab handle bagian atas dan samping tas, strap yang bisa disesuikan</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 4.195.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.zalora.co.id/fossil-fossil-buckner-cummuter-black-leather-mbg9483-001-black-2270858.html" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Details Producttttt8 (Haskell Courier Black)-->
        <div class="modal fade" id="producttttt8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Fossil/proddddd8.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Haskell Courier Black</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Kulit Sintetis</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Hitam</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>24.13cm x 4.14cm x 27.94cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>penutup compartment utama menggunakan resleting, 1 kantong depan menggunakan resleting, 1 kantong tablet di dalam tas,1 kantong kartu di dalam tas, 3 pen holder di dalam tas, tali yang dapat disesuaikan</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 2.515.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.zalora.co.id/fossil-fossil-haskell-courier-black-tas-pria-mbg9396-001-black-2226284.html" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Details Producttttt9 (Buckner Canvas Messenger Black)-->
        <div class="modal fade" id="producttttt9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Fossil/proddddd9.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Buckner Canvas Messenger Black</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Poliester</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Abu-Abu</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>40.64cm x 8.25cm x 30.48cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>penutup compartment utama menggunakan magnet, 2 kantong depan tas dengan resleting, 1 tempat laptop, 2 kantong media, 1 kantong dengan resleting, 4 elastic loop dan 1 key ring, tali yang dapat disesuikan</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 2.915.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.zalora.co.id/fossil-fossil-buckner-canvas-messenger-black-tas-pria-mbg9355-001-black-1693217.html" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Details Producttttt10 (Estate Backpack Khaki)-->
        <div class="modal fade" id="producttttt10" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Fossil/proddddd10.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Estate Backpack Khaki</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Poliester</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Cokelat</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>30.48cm x 15.24cm x 43.18cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>main compartment dengan zipper, 1 kantong depan dengan resleting, 1 tempat laptop di dalam tas, 1 kantong di dalam tas dengan resleting, 2 kantong depan di samping kiri kanan tas, 4 elastic loops, tali yang dapat disesuaikan</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 3.400.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.zalora.co.id/fossil-fossil-estate-backpack-khaki-mbg9436-250-brown-2349728.html" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>         
        
    </div> 
     
</body>
</html>
