<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/home.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
  <script src="../js/home.js"></script>
  <title>Home Page</title>
</head>

<body>

       <!--Navbar-->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark sticky-top">
      <div class="container">
        <ul class="navbar-nav ml-1 mr-1 nav-fill">
          <h1><i class="fas fa-shopping-bag mr-4 text-white"></i></h1>
          <a class="navbar-brand font-weight-bold text-white">Gilvy Collection</a>
          <li class="nav-item active">
            <a class="nav-link text-white" href="#BestSeller" >Best Seller</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="#FunFacts " >Fact</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="#NewLetter" >News</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="#TrendJustYou" >Trends</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="#Testimoni" >Artist</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-1 mr-4 nav-fill">
          <li class="nav-item active">
            <a class="nav-link text-white" href="/"> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="../html/collection.html"> Collection <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="../html/about.html"> About Us <span class="sr-only">(current)</span></a>
          </li>
          <li>
            <button type="button" class="btn btn-info btn-lg bg-primary" data-toggle="modal" data-target="#myModal">Welcome, <%= nama %></button>
          </li>
        </ul>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <p>Apakah anda yakin untuk logout?</p>
                <br>
                <button type="button" class="btn btn-default bg-secondary">
                  <a href="/user/login" style="color: white; text-decoration: none;" >Yakin</a></button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default bg-dark" data-dismiss="modal" style="color: white;">Close</button>                      
                </div>
              </div>
            </div>
          </div>
        </div>
    </nav>
    
    <!--Carousell-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../img/slider/bg carosell.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="display-4">Selamat Datang Di <br><span class="font-weight-bold">Gilvy Collection</span></br></h1>
              <hr class="my-4">
              <p class="lead">
                Kami memberikan Informasi tentang hal yang berkaitan dengan tas seperti: harga, bahan, dan di website
                mana Anda dapat membeli tas tersebut secara online. Saat Anda sudah berminat, Pembelian dapat 
                langsung dilakukan dengan mengunjungi website yang menjual tas tersebut. 
              </p>
            </div>
          </div>
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../img/slider/bg carosell 2.jpg" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="display-4"><span class="font-weight-bold">Gilvy Collection</span></h1>
              <hr class="my-4">
              <p class="lead">
                Kami berusaha memberikan informasi sebanyak mungkin tentang <i>Brand</i> tas yang dijual dan bekerja sama dengan kami,
                dengan fitur yang sudah disediakan oleh <i>website</i> kami, Kami berharap agar para calon pembeli dapat merasa puas dengan mendapatkan
                informasi pembelian tas tersebut dari website kami. Untuk mengenal kami lebih baik, Anda dapat langsung melihat tentang kami.
              </p>
              <!--Button-->
              <a class="btn btn-primary btn-lg  text-secondary" href="about.html" role="button">About Us</a>
            </div>
        </div>
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../img/slider/bg carosell 4.jpg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="display-4"><span class="font-weight-bold">Gilvy Collection</span></h1>
              <hr class="my-4">
              <p class="lead">
                Kami bekerja sama dengan berbagai <i>brand</i> terkenal, yang akan menarik perhatian para calon pembeli.
                Kami mempunyai dua pilihan tas, yaitu tas wanita dan pria. Untuk melihat tas seperti apa yang ada,
                dan hal terkait dengan tas tersebut dapat langsung dilihat. Jangan sampai ketinggalan tren jaman sekarang, 
                dan juga jangan sampai kehabisan stocknya ya.
              </p>
              <!--Button-->
              <a class="btn btn-primary btn-lg  text-secondary" href="collection.html" role="button">View Collection</a>
            </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


      <div data-spy="scroll" data-target="navbar" data-offset="0">
        <!--Card Best Seller-->
        <div id="BestSeller" class="container mt-2" style="color: white;" >
          <h2 ><i>BEST SELLER BAG</i></h2>
          <div class="row">
            <div class="col-md-3">
              <div class="card text-center" onclick="window.location.href='../html/tas wanita/chanel.html'" >
                <img src="../html/img/Product/Chanel/proddd3.jpg" class="card-img-top" width="250" height="250">
                <div class="card-body">
                  <p class="card-text" style="color:black"><b>Chanel</b></p>
                  </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card text-center" onclick="window.location.href='../html/tas wanita/burberry.html'" >
                <img src="../html/img/Product/Burberry/proddddd5.jpg" class="card-img-top" width="250" height="250">
                <div class="card-body">
                  <p class="card-text" style="color:black"><b>Burberry</b></p>    
                </div>
            </div>
          </div>
          <div class="col-md-3" onclick="window.location.href='../html/tas pria/coach.html'" >
            <div class="card text-center">
              <img src="../html/img/Product/coach/prodddd8.jpg" class="card-img-top" width="250" height="250">
              <div class="card-body">
                <p class="card-text" style="color:black"><b>Coach</b></p>
                 </div>
             </div>
          </div>
          <div class="col-md-3" onclick="window.location.href='../html/tas pria/fossil.html'" >
            <div class="card text-center">
              <img src="../html/img/Product/fossil/proddddd9.jpg" class="card-img-top" width="250" height="250" >
              <div class="card-body">
                <p class="card-text" style="color:black"><b>Fossil</b></p>
                </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br>

      <!--Fun Facts-->
      <div id="info">
        <div id="FunFacts" class="facts">
          <div class="row">
            <div class="col-md-3"></div>
            <div  class="col-md-6">
              <h2><i>FUN FACTS!</i></h2>
              <br>
              <p>Tas adalah wadah tertutup yang dapat dibawa bepergian. Materi untuk membuat tas antara lain adalah kertas, plastik, kulit, kain, dan lain-lain. Biasanya digunakan untuk membawa pakaian, buku, dan lain-lain. </p>
            </div>
          </div>
        </div>
        <br><br>

        <!--News Letter-->
    <div id="NewLetter" class="container mt-1" style="color: white;">
      <center><h2 style="margin-top: 2rem;"><i>News Letter</i></h2></center>
      <center><h3 style="margin-bottom: 2.5rem;">Seputar Perkembangan di Industri Tas</h3></center>
        <div class="row">
          <div class="col-md-3" style="margin-bottom: 1rem;">
            <div class="card text-center" style="height: 30rem;">
              <img src="../img/news/newstasmahal.jpg" class="card-img-top">
              <div class="card-body" style="color: black;">
                <p class="card-text">Tas Hermes satu ini memiliki harga yang sangat fantastis dengan harga pasaran mencapai Rp 5,3 miliar, ada beberapa tas lainnya yang punya harga yang fantastis</p>
                <a href="https://www.jawapos.com/lifestyle/16/07/2020/intip-5-tas-mewah-yang-pernah-terjual-hermes-rp-53-miliar-laku/" class="btn btn-outline-dark" style="border-color: slategray;">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-md-3" style="margin-bottom: 1rem;">
            <div class="card text-center" style="height: 30rem;">
              <img src="../img/news/newsinves.jpg" class="card-img-top" style="height: 16rem;">
              <div class="card-body" style="color: black;">
                <p class="card-text">Sekarang tas <i>branded</i> tidak hanya digunakan sebagai hobi tetapi banyak yang memanfaatkannya sebagai investasi, berikut tips untuk kamu</p>    
                <a href="https://www.ruangmom.com/investasi-tas-mewah.html#:~:text=Tak%20cuma%20logam%20mulia%2C%20saham,alternatif%20investasi%20bagi%20kaum%20perempuan.&text=Dikutip%20dari%20laman%20cnbc.com,dibandingkan%20dengan%20benda%20bernilai%20seni." class="btn btn-outline-dark" style="border-color: slategray;">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-md-3" style="margin-bottom: 1rem;">
            <div class="card text-center" style="height: 30rem;">
              <img src="../img/news/newbrandlokal.jpg" class="card-img-top" style="height: 16rem;"> 
              <div class="card-body" style="color: black;">
                <p class="card-text">Paris Hilton dan Elma Thompson terlihat sedang menggunakan tas lokal dari Bagteria, tapi ternyata bukan itu saja <i>brand</i> lokal yang terkenal di dunia</p>
                <a href="https://jadiberita.com/120955/5-brand-tas-indonesia-yang-sukses-mendunia-bukti-produk-lokal-tak-kalah-keren-dari-buatan-luar.html" class="btn btn-outline-dark" style="border-color: slategray;">Read More</a>
                </div>
            </div>
          </div>

          <div class="col-md-3" style="margin-bottom: 1rem;">
            <div class="card text-center" style="height: 30rem;">
              <img src="../img/news/newsunisex.jpg" class="card-img-top">
              <div class="card-body" style="color: black;">
                <p class="card-text">Tas Louis Vuitton ini tergolong tas yang dapat digunakan untuk pria maupun wanita, apa saja sih perbedaan tas pria dan wanita dari cirinya ?</p>
                <a href="https://www.yunru-bag.com/perbedaan-tas-pria-dan-wanita/" class="btn btn-outline-dark" style="border-color: slategray;">Read More</a>
                </div>
            </div>
          </div>
        </div>
    </div>

        <!--Bag Info-->
        <div id="TrendJustYou" class="trends" style="margin-top: 8rem;">
          <h2><i>AFRAID OF OUTDATED? THIS IS SOME 2020 TRENDS JUST FOR YOU!!</i></h2>
          <br>
          <div class="row">
            <div class="col-md-5">
              <h3><i>Function is not the main thing</i></h3>
              <p>Ada sederet hal menarik yang mempengaruhi tren tas wanita kali ini. Misalnya soal fungsi tas itu sendiri. Kini, bentuk tas makin beragam dijadikan sebagai <i>fashion item</i> yang menarik perhatian. Sehingga bukan hanya sekedar tempat menaruh barang-barang saat bepergian saja.
                Sedangkan <i>mini bag</i> atau tas super kecil kini digunakan sebagai hiasan dan pelengkap pada <i>outfit</i> harian alias <i>OOTD</i>.</p>
            </div>
            <div class="col-md-6">
              <center><img src="../img/eyecatching.jpg" width="400px"></center>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <center><img src="../img/louis-vuitton-new-art-bags.jpg" width="250px"></center>
            </div>
            <div class="col-md-5">
              <h3><i>Eye-catching Colors</i></h3>
              <p>Seperti yang sudah dikatakan sebelumnya, warna cerah yang <i>eye-catching</i> makin <i>booming</i> dan laku di pasaran. Apalagi menuju pertengahan tahun yang identik dengan gaya musim panas yang melibatkan warna cerah dan elemen kontras.</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-5">
              <h3><i>Unique Shape & Design</i></h3>
              <p>Selain warna cerah, tren tas wanita terbaru 2020 diisi oleh bentuk dan desain unik, serta lekukan tas yang semakin beragam.
                Coba saja lihat <i>Saddle Matte Bag</i> keluaran Dior yang berbentuk belahan hati yang menjadi <i>trendsetter</i>. Serta tas berbentuk kipas yang kini dikeluarkan brand Marni, Mango, dan masih banyak lagi.</p>
            </div>
            <div class="col-md-6">
              <center><img src="../img/photo-1557597537-dd3365c535a0.jpg" width="250px"></center>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <center><img src="../img/Mr-Bag-1.jpg" width="250px"></center>
            </div>
            <div class="col-md-5">
              <h3><i>Collaboration Bag</i></h3>
              <p>Tren tas wanita terbaru 2020 diprediksi oleh banyak ahli melibatkan kolaborasi antara dua <i>brand</i> atau <i>brand fashion</i> dengan tokoh ternama. Misalnya Balenciaga yang berkolaborasi dengan Hello Kitty, Sacai X Nike, Nike X G-Dragon, dan lain sebagainya.
                Hasil kolaborasi yang menarik akan membuat penggemar <i>kedua brand</i> atau tokoh itu bersatu dan membantu terciptanya permintaan pasar yang besar dan tren tas wanita terbaru 2020.</p>
            </div>
          </div>
        </div>
      </div>
      <br><br><br>

      <!--Card Artis-->
      <div id="Testimoni" class="container mt-1" style="color: white;">
        <center><h2>DERETAN ARTIS LOKAL YANG MENGGUNAKAN TAS <i>BRANDED</i></h2></center>
         <center><h3>DI INDONESIA</h3></center>
          <div class="row">
            <div class="col-md-3" style="margin-bottom: 1rem;">
              <div class="card text-center" style="height: 30rem;">
                <img src="../img/model1.jpg" class="card-img-top">
                <div class="card-body" style="color: black;">
                  <p class="card-text">Siapa yang menyangka kalau tas yang digunakan Roy Kiyoshi tersebut harganya mahal banget lho, birkin 30 togo black PHW dari Hermes ini seharga Rp241,8 juta</p>
                  <a href="../html/tas pria/hermes.html" class="btn btn-outline-dark" style="border-color: slategray;">Check The Bag</a>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="margin-bottom: 1rem;">
              <div class="card text-center" style="height: 30rem;">
                <img src="../img/model2.jpg" class="card-img-top" style="height: 16rem;">
                <div class="card-body" style="color: black;">
                  <p class="card-text">Jadi juri di salah satu ajang pencarian bakat untuk penyanyi dangdut, Nassar tampil <i>branded</i> dan mewah dengan Hermes Herbag Zip 39 seharga Rp26,1 juta</p>    
                  <a href="../html/tas pria/hermes.html" class="btn btn-outline-dark" style="border-color: slategray;">Check The Bag</a>
                </div>
            </div>
          </div>

          <div class="col-md-3" style="margin-bottom: 1rem;">
            <div class="card text-center" style="height: 30rem;">
              <img src="../img/merk/user/burberry3.jpg" class="card-img-top">
              <div class="card-body" style="color: black;">
                <p class="card-text">Marsha Aruan kenakan <i>dress</i> berwarna merah yang dipadukan dengan tas hitam merek Burberry yang dibanderol dengan harga $1,290 atau sekitar Rp 18 juta.</p>
                <a href="../html/tas wanita/burberry.html" class="btn btn-outline-dark" style="border-color: slategray;">Check The Bag</a>
                 </div>
             </div>
          </div>

          <div class="col-md-3" style="margin-bottom: 1rem;">
            <div class="card text-center" style="height: 30rem;">
              <img src="../img/model4.jpg" class="card-img-top">
              <div class="card-body" style="color: black;">
                <p class="card-text">Tampil ganteng maksimal, Verrell Bramasta melengkapi penampilannya dengan <ibackpacki> michael damier infini dari Louis Vuitton seharga Rp51,2 juta</p>
                <a href="../html/tas pria/louisvuitton.html" class="btn btn-outline-dark" style="border-color: slategray;">Check The Bag</a>
                </div>
              </div>
           </div>
         </div>

     <div class="row">
      <div class="col-md-3" style="margin-bottom: 3rem;">
        <div class="card text-center" style="height: 30rem;">
          <img src="../img/model5.png" class="card-img-top" style="height: 16rem;">
          <div class="card-body" style="color: black;">
            <p class="card-text">Maudy Ayunda memadukan gayanya dengan <i>shoulder bag</i> dari Prada Sidonie <i>Leather Shoulder Bag</i> dibanderol seharga $ 3,100 setara dengan Rp 45 juta.</p>
            <a href="../html/tas wanita/prada.html" class="btn btn-outline-dark" style="border-color: slategray;">Check The Bag</a>
            </div>
           </div>
         </div>
     
      <div class="col-md-3" style="margin-bottom: 3rem;">
        <div class="card text-center" style="height: 30rem;">
          <img src="../img/model6.jpg" class="card-img-top">
          <div class="card-body" style="color: black;">
            <p class="card-text">Suami dari Ussy Sulistiawati yaitu Andhika Pratama ini juga gak kalah <i>branded</i> dengan <i>avenue sling bag</i> dari Louis Vuitton yang dibanderol dengan harga Rp19,9 juta</p>    
            <a href="../html/tas pria/louisvuitton.html" class="btn btn-outline-dark" style="border-color: slategray">Check The Bag</a>
            </div>
          </div>
        </div>

     <div class="col-md-3" style="margin-bottom: 3rem;">
      <div class="card text-center" style="height: 30rem;">
        <img src="../img/model7.png" class="card-img-top">
        <div class="card-body" style="color: black;">
          <p class="card-text"><i>Mini bag</i> Gucci ini memang selalu membuat perempuan jatuh cinta tidak terkecuali Prilly, harganya sendiri berkisar USD 2250 atau Rp 31 juta</p>    
          <a href="../html/tas wanita/gucci.html" class="btn btn-outline-dark" style="border-color: slategray">Check The Bag</a>
          </div>
          </div>
          </div>

      <div class="col-md-3" style="margin-bottom: rem;">
        <div class="card text-center" style="height: 30rem;">
          <img src="../img/model8.jpg" class="card-img-top">
          <div class="card-body" style="color: black;">
            <p class="card-text">Kalau yang digunakan oleh artis sekaligus designer ternama Ivan Gunawan ini adalah <i>bikin bag</i> 35cm <i>white clemence gold hardware</i> seharga Rp309,4 juta</p>    
            <a href="../html/tas pria/hermes.html" class="btn btn-outline-dark" style="border-color: slategray;">Check The Bag</a>
              </div>
            </div>
          </div>
      </div>
    </div>

      <!--Maps-->
     <section id="who">
      <div class="who-img"></div>
      <div class="who-text"></div>
      <h2 class="m-heading">
      <center><span class="text-primary"><font color="white">Alamat</font></span></center>
     </h2>
    </section>
     <center><p><font color="white">Jl. Letjen S. Parman No.1, RT.6/RW.16, Tomang, <br>Kec. Grogol petamburan, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11440</p></center></font>
    <center><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15866.845045144553!2d106.7891015!3d-6.1694043!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc0a066d78372614e!2sUniversitas%20Tarumanagara%20Kampus%20I!5e0!3m2!1sid!2sid!4v1602722093834!5m2!1sid!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></iframe></center>
    
</body>
</html>

