<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../tas wanita/collection.css">
    <title>Tas Wanita</title>
</head>

<body>
    <!--Header-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">          
                <h3><i class="fas fa-shopping-bag mr-4 text-white"></i></h3>
            <a class="navbar-brand font-weight-bold text-white">Gilvy Collection</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
             </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-4">
                <li class="nav-item active">
                    <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../collection.html"> Collection <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../about.html"> About Us <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            </div> 
    </nav>
    
    <div class="row mt-5 no-gutters">
        <div class="col-md-2 bg-light">
            <ul class="list-group list-group-flush p-2 pt-4">
                <li class="list-group-item"><i class="fas fa-list"></i><a href="../tas pria/tas-pria.html" style="color:black;text-decoration: none;"> Tas Pria</a></li>
                <li class="list-group-item"><i class="fas fa-list"></i><a href="../tas wanita/chanel.html" style="color: black;text-decoration: none;"> Tas Wanita</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas wanita/hush-puppies.html" style="color:black;text-decoration: none;"> Hush Puppies</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas wanita/gucci.html" style="color:black;text-decoration: none;"> Gucci</a></li>
                <li class="list-group-item bg-danger"><i class="fas fa-angle-right"></i><a href="../tas wanita/chanel.html" style="color:black;text-decoration: none;"> Chanel</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas wanita/burberry.html" style="color:black;text-decoration: none;"> Burberry</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas wanita/prada.html" style="color:black;text-decoration: none;"> Prada</a></li>
            </ul>
        </div>
    
        <!--Items-->
        <div class="col-sm-9">
            <h4 class="text-center  font-weight-bold m-4"> Chanel </h4>
            <div class="row mx-auto">
                <!--Producttt1 (Quilted Tote Bag)-->
                <ol>
                <div class="card mr-2 ml-2" style="width: 15rem;">
                    <img src="../img/Product/Chanel/proddd1.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                <div class="card-body bg-light">
                    <h5 class="card-title">Quilted Tote Bag</h5>
                    <p class="card-text">Rp 41,200,000,-</p>
                    <a href="#" class="btn btn-primary"data-target="#producttt1" data-toggle="modal">Detail</a>
                </div>
                </ol>

                <!--Producttt2 (Denim Reissue Flap Bag)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Chanel/proddd2.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Denim Reissue Flap Bag</h5>
                        <p class="card-text">Rp 48,410,000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#producttt2" data-toggle="modal">Detail</a>
                    </div>
                </ol>

                <!--Producttt3 (Mini Crochet Flap Bag)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Chanel/proddd3.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Mini Crochet Flap Bag</h5>
                        <p class="card-text">Rp 36,050,000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#producttt3" data-toggle="modal">Detail</a>
                    </div>
                </ol>

                <!--Producttt4 (Maxi Quilted Patent Double Flap Bag)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Chanel/proddd4.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Maxi Quilted Patent Double Flap Bag</h5>
                        <p class="card-text">Rp 25,750,000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#producttt4" data-toggle="modal">Detail</a>
                    </div>
                </ol>

                <!--Producttt5 (Shopper Quilted Tote Bag)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Chanel/proddd5.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Shopper Quilted Tote Bag</h5>
                        <p class="card-text">Rp 18,540,000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#producttt5" data-toggle="modal">Detail</a>
                    </div>
                </ol>
                
            </div>
        </div>
        
        <!--Details Producttt1 (Quilted Tote Bag)-->
        <div class="modal fade" id="producttt1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Chanel/proddd1.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Quilted Tote Bag</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Kulit Sintetis</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Hitam</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>31cm x 21cm x 10cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>menggunakan magnet, 1 kantong dalam, 1 kantong dengan zipper</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 41.200.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.huntstreet.com/sell/chanel-quilted-tote-bag-2" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Details Producttt2 (Denim Reissue Flap Bag)-->
        <div class="modal fade" id="producttt2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Chanel/proddd2.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Denim Reissue Flap Bag</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Denim</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Biru Gelap</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>31cm x 17.5cm x 8.5cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>memiliki 1 kantong dengan zipper, 1 kantong biasa, 1 compartment</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 48.410.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.huntstreet.com/sell/chanel-227-denim-255-reissue-flap-bag" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Details Producttt3 (Mini Crochet Flap Bag)-->
        <div class="modal fade" id="producttt3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Chanel/proddd3.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Mini Crochet Flap Bag</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Kulit Domba Sintetis</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Merah</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>16cm x 12.5cm x 8cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>1 kantong dengan zipper, 1 kantong biasa</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 36.050.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.huntstreet.com/sell/chanel-mini-crochet-flap-bag" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Details Producttt4 (Maxi Quilted Patent Double Flap Bag)-->
        <div class="modal fade" id="producttt4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Chanel/proddd4.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Maxi Quilted Patent Double Flap Bag</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Kulit paten</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Biru</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>33cm x 21.5cm x 9.5cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>1 compartment, 1 kantong dengan zipper, 2 kantong biasa, penutup tas dengan kunci putar</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 25.750.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.huntstreet.com/sell/chanel-maxi-quilted-patent-double-flap-bag" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Details Producttt5 (Shopper Quilted Tote Bag)-->
        <div class="modal fade" id="producttt5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Chanel/proddd5.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Shopper Quilted Tote Bag</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Kulit Sintetis</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Biru</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>36cm x 15cm x 24cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>1 zipper compartment, 2 compartment lain, 1 kantong dengan zipper, dan 1 kantong biasa</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 18.540.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.huntstreet.com/sell/chanel-shopper-quilted-tote-bag" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>            
         
    </div>
    
</body>
</html>
