<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../tas wanita/collection.css">
    <title>Tas Wanita</title>
</head>

<body>
    <!--Header-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">          
                <h3><i class="fas fa-shopping-bag mr-4 text-white"></i></h3>
            <a class="navbar-brand font-weight-bold text-white">Gilvy Collection</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
             </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-4">
                <li class="nav-item active">
                    <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../collection.html"> Collection <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../about.html"> About Us <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            </div> 
    </nav>
    
    <div class="row mt-5 no-gutters">
        <div class="col-md-2 bg-light">
            <ul class="list-group list-group-flush p-2 pt-4">
                <li class="list-group-item"><i class="fas fa-list"></i><a href="../tas pria/tas-pria.html" style="color:black;text-decoration: none;"> Tas Pria</a></li>
                <li class="list-group-item"><i class="fas fa-list"></i><a href="../tas wanita/gucci.html" style="color: black;text-decoration: none;"> Tas Wanita</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas wanita/hush-puppies.html" style="color:black;text-decoration: none;"> Hush Puppies</a></li>
                <li class="list-group-item bg-danger"><i class="fas fa-angle-right"></i><a href="../tas wanita/gucci.html" style="color:black;text-decoration: none;"> Gucci</li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas wanita/chanel.html" style="color:black;text-decoration: none;"> Chanel</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas wanita/burberry.html" style="color:black;text-decoration: none;"> Burberry</a></li>
                <li class="list-group-item"><i class="fas fa-angle-right"></i><a href="../tas wanita/prada.html" style="color:black;text-decoration: none;"> Prada</a></li>
            </ul>
        </div>
    
        <!--Items-->
        <div class="col-sm-10">
            <h4 class="text-center  font-weight-bold m-4"> Gucci </h4>
            <div class="row mx-auto">
                <!--Productt1 (Mermont Quilted Pearls Crossbody)-->
                <ol>
                <div class="card mr-2 ml-2" style="width: 15rem;">
                    <img src="../img/Product/Gucci/prodd1.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                <div class="card-body bg-light">
                    <h5 class="card-title">Mermont Quilted Pearls Crossbody</h5>
                    <p class="card-text">Rp 26.499.000,-</p>
                    <a href="#" class="btn btn-primary"data-target="#productt1" data-toggle="modal">Detail</a>
                </div>
                </ol>

                <!--Productt2 (Supreme Floral and Butterfly)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Gucci/prodd2.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Supreme Floral and Butterfly</h5>
                        <p class="card-text">Rp 57.499.000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#productt2" data-toggle="modal">Detail</a>
                    </div>
                </ol>

                <!--Productt3 (Apollo GG Embossed Leather)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Gucci/prodd3.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Apollo GG Embossed Leather</h5>
                        <p class="card-text">Rp 37.999.000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#productt3" data-toggle="modal">Detail</a>
                    </div>
                </ol>

                <!--Productt4 (Interlocking GG Chain Wallet)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Gucci/prodd4.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Interlocking GG Chain Wallet</h5>
                        <p class="card-text">Rp 17.499.000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#productt4" data-toggle="modal">Detail</a>
                    </div>
                </ol>

                <!--Productt5 (Interlocking GG Chain Wallet)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Gucci/prodd5.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Interlocking GG Chain Wallet</h5>
                        <p class="card-text">Rp 14.999.000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#productt5" data-toggle="modal">Detail</a>
                    </div>
                </ol>

                <!--Productt6 (Sylvie leather mini bag)-->
                <ol>
                    <div class="card mr-2 ml-2" style="width: 15rem;">
                        <img src="../img/Product/Gucci/prodd6.jpg" class="card-img-top" alt="..." width="250cm" height="250cm">   
                    <div class="card-body bg-light">
                        <h5 class="card-title">Sylvie Leather Mini Bag</h5>
                        <p class="card-text">Rp 31.000.000,-</p>
                        <a href="#" class="btn btn-primary"data-target="#productt6" data-toggle="modal">Detail</a>
                    </div>
                </ol>
                
            </div>
        </div>
        
        <!--Details Productt1 (Mermont Quilted Pearls Crossbody)-->
        <div class="modal fade" id="productt1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Gucci/prodd1.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Mermont Quilted Pearls Crossbody</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Quilted Leather, Gold tone hardware, Satin lining</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Emas</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>24cm x 7cm x 14cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>menggunakan zipper, tali yang bisa disesuaikan, terdapat logo yang menggunakan metal dan mutiara</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 26.499.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.zalora.co.id/gucci-gucci-gg-mermont-quilted-pearls-crossbody-in-shining-gold-gold-2439093.html" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Details Productt2 (Supreme Floral and Butterfly)-->
        <div class="modal fade" id="productt2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Gucci/prodd2.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Supreme Floral and Butterfly</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Beige/ebony GG Supreme canvas dengan taupe suede detail</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Abu-Abu</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>30cm x 8cm x 20cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>memiliki 2 compartments atau bagian, 1 zipper compartment, 1 saku dibawah penutup, 1 saku di belakang</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 57.499.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.zalora.co.id/gucci-gucci-gg-supreme-floral-and-butterfly-embroidered-canvas-brown-2394277.html" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Details Productt3 (Apollo GG Embossed Leather)-->
        <div class="modal fade" id="productt3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Gucci/prodd3.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Apollo GG Embossed Leather</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Kulit Sintetis</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Hitam</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>34cm x 12cm x 29cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>tote bag, 1 compartment, 1 kantong dengan zipper di dalam, 2 kantong di dalam</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 37.999.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.zalora.co.id/gucci-gucci-apollo-gg-embossed-leather-tote-black-black-2394055.html" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>

        
        
        <!--Details Productt4 (Sylvie leather mini bag)-->
        <div class="modal fade" id="productt4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Gucci/prodd4.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Interlocking GG Chain Wallet</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Kulit Sintetis</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Hitam</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>19cm x 4cm x 11cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>1 zipper compartment, 18 slot kartu, kantong terbuka di bagian dalam</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 17.499.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.zalora.co.id/gucci-gucci-interlocking-gg-chain-wallet-black-black-2394287.html" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>
    

        <!--Details Productt5 (Interlocking GG Chain Wallet)-->
        <div class="modal fade" id="productt5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Gucci/prodd5.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Interlocking GG Chain Wallet</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>Kulit Sintetis</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Navy</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>19cm x 4cm x 11cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>1 zipper compartment, 18 slot kartu, kantong terbuka di bagian dalam</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 14.999.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.zalora.co.id/gucci-gucci-interlocking-gg-chain-wallet-navy-blue-2414384.html" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>

        
        <!--Details Productt6 (Interlocking GG Chain Wallet)-->
        <div class="modal fade" id="productt6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="gambar">
                                <img src="../img/Product/Gucci/prodd6.jpg" width="550cm" height="400cm">
                                </div>
                                <div class="description">
                                <table class="table table-borderless"> 
                                    <tbody>
                                        <tr>
                                            <td>Nama Product</td>
                                            <td>:</td>
                                            <td>Sylvie Leather Mini Bag</td>
                                        </tr>
                                        <tr>
                                            <td>Material</td>
                                            <td>:</td>
                                            <td>White leather</td>
                                        </tr>
                                        <tr>
                                            <td>Warna</td>
                                            <td>:</td>
                                            <td>Putih</td>
                                        </tr>
                                        <tr>
                                            <td>P x L x T</td>
                                            <td>:</td>
                                            <td>4cm x 8cm x 5.5cm</td>
                                        </tr>
                                        <tr>
                                            <td>Lainnya</td>
                                            <td>:</td>
                                            <td>Tali selempang kulit, Tali bahu senter yang bisa dilepas</td>
                                        </tr>
                                        <tr>
                                            <td>Harga</td>
                                            <td>:</td>
                                            <td>Rp 31.000.000,-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">
                        <a href="https://www.gucci.com/us/en/pr/women/handbags/crossbody-bags-for-women/sylvie-leather-mini-bag-p-470270D4ZAG8605" style="color:white;text-decoration: none;">Buy</a></button>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
